/* Your styles here */
:root{
    --darkblue: #222f3f;
    --blue: #364759;
    --orange: #f46600;
    --azure: #17719b;
    --grey: #e9edee;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.logo_top {
    background-color: var(--darkblue);
    width: 100%;
    height: 70px;
    object-fit:scale-down;
}

.logo_top img{
  height: 50px;
  margin: 8px auto auto 40px;
}

/* ___________________________
________ N A V B A R _________*/

nav {
    background-color: var(--blue);
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: #ffc164;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul{
    margin-left: 35px;
}

/*___________________________
_________ M A I N ___________*/

main {
    background-color: var(--grey);
    padding: 40px 45px;
}

main p:first-child{
    background-color: var(--orange);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
    margin-bottom: 40px;
}


/* H E R O   S E C T I O N  */

.hero_section{
    position: relative;
    text-align: center;
    color: white;
}

.hero_section img{
    width: 100%;
}

.hero_section div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_section div h1{
    font-weight: 700;
    font-size: 16pt;
    line-height: 36pt;
}


/*_____________________________
________ C A R D S ___________*/

.cards{
    background-color: white;
    padding: 2%;
    margin: 30px 0px;
}

.cards img{
    height: 350px;
    width: 22%;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(109, 95, 148, 0.603);
}

.margin-1{
    margin-right: 3%;
}

.cards h2, .banners h2{
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14pt;
}

.cards h2 a, .banners h2 a{
    margin-left: 30px;
    font-size: 12pt;
    text-decoration: none;
    color: var(--azure);
    font-weight: bold;
}


/*___________________________
_______ B A N N E R S _______*/

.banners img{
    width: 100%;
}

.banners{
    text-align: center;
}

.banners h2{
    margin: 10px 0px 20px 0px;
}


/*____________________________
_______ F O O T E R _________*/

footer {
    text-align: center;
    width: 100%;
    background-color: var(--darkblue);
    width: 100%;
    height: 200px;
}

footer a{
    background-color: var(--blue);
    color: white;
    width: 100%;
    padding: 10px 0px;
    font-weight: 600;
    display: block;
}

footer a:hover{
    color: #ffc164;
}

footer img{
    margin-top: 20px;
}